fastapi==0.115.6
uvicorn[standard]==0.34.0
python-frontmatter==1.1.0
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
python-multipart==0.0.20
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
passlib[bcrypt]==1.7.4
itsdangerous==2.2.0
pydantic-settings==2.7.1
